// @import '~bilo-ui/dist/bilo-ui.scss';
@import '../../app.scss';

.sidebar {
    z-index: 2;
    position: fixed;
    width: 15em;
    height: 100vh;
    top: 0;
    background: #eee;
    color: black;
    text-align: center;
    // font-family: ''
    .logo {
        align-items: center;
        font-size: 2em;
        font-family: 'Monoton', cursive;
        width: 100%;

        img {
            width: 4em;
            height: 4em;
            background: red;
            border-radius: 50%;
        }
        .yannick {
            color: black;
        }

        .rap {
            color: red;
            width: 100%;
        }

        .mechanic {
            color: black;
        }
    }

    .active {
        color: $col-active;
        width: calc(100% - 1em - 4px);
        border-right: 4px solid $col-active;
    }

    .tabs {
        margin-top: 6em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .tab {
        cursor: pointer;
        width: calc(100% - 1em);
        height: 1em;
        padding: 0.5em;

        &:hover {
            @extend .active;
        }
    }

    .footer {
        display: flex;
        flex-direction: row;
        position: absolute;
        bottom: 0;
        margin: auto;
        width:100%;
        justify-content: space-around;
        a {
            width: 1em;
            height: 1em;
            margin: 1em;

            img {
                position: relative;
                width: 100%;
                height: 100%;
            }
        }
    }
}
