@import '~bilo-ui/dist/bilo-ui.scss';

body {
  font-family: 'Ubuntu', sans-serif;
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  background-image: url("http://getwallpapers.com/wallpaper/full/c/0/4/95521.jpg");
  // background-size: cover;
  // background-repeat: no-repeat;
  background-position: 50% 0%;
}

// @import './styles/loader.scss';

// Colors
$col-lightgrey:  $col-lightgrey;
$col-background: $col-background;
$col-active: #00adee !global;
$col-accent: #00ffee !global;
$col-text: $col-text;
$col-dark: #1d1d1d;

// Dimensions
$dim-navbar: 3em;
$dim-sidebar: 25em;
$content-x: $dim-sidebar;
$content-y: $dim-navbar;
$content-height: calc(100vh - #{$dim-navbar});
$content-width: calc(100vw - #{$dim-sidebar});

// Layout
body {
    font-family: 'Quicksand', sans-serif;
}

$padding: 2em;
.page {
    position: relative;
    background: $col-background;
    color: $col-text;
    width: 100vw;
}

.page-padded {
    height: calc(100% - 2 * #{$padding});
    padding: $padding;
}

 // Elements
button {
    @extend .button;
    color: $col-active;
    border-color: $col-active;
    &:hover {
        color: white;
        background-color: $col-active;
    }
}